{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">

  <h1 class="text-center">About</h1>
  <hr>

  <p class="text-center">A simple e-commerce marketplace,
    utilizing the <a href='https://lightning.network/'>Bitcoin Lightning Network</a>,
    designed to have little to no startup cost or maintenance.
  </p>

  <p class="text-center">We wish you the best of luck on your future e-commerce marketplace.</p>

  <br>
  <hr>

  <center>
  <br>
  <h3>Download</h3>
  <p class="text-center"><a href='https://github.com/cyphertoad'>Source code on Github</a></p>
  </center>

</div>
{% endblock %}
