{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">

  <center><h1 class="text-center">About</h1>
  <hr>

  <p class="text-center">A simple e-commerce marketplace,
    utilizing the <a href='https://lightning.network/'>Bitcoin Lightning Network</a>,
    designed to have little to no startup cost or maintenance.
  </p>

  <p class="text-center">We wish you the best of luck on your future e-commerce marketplace.</p>

  <center>
  <a href="https://github.com/CypherToad/LightningStrike" type="button" class="btn btn-info">Download</a>
  </center>

</div>
{% endblock %}
