{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container ">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% for item in items %}
<div class="col mb-5">
  <div class="card h-100">

      <!-- product image-->
      <center>
      <br>
      <a href="/product/{{ item.slug }}"><img width=75% src="/static/images/{{ item.image }}" /></a>
      </center>

      <!-- product details-->
      <div class="card-body">
          <div class="text-center">
              <!-- product name-->
              <h5 class="fw-bolder"><strong><a href="/product/{{ item.slug }}" style="text-decoration: none;">{{ item.name }}</a></strong></h5>
              {% for tag in item.tags %}
                <a href="/product/{{ item.slug }}"><span class="badge bg-primary">{{ tag }}</span></a>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

{% endfor %}

</div>
</div>
</section>
{% endblock %}
