<div class="modal fade" id="Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mx-auto" id="ModalLabel">
          Pay {{ "$%.2f"|format(item.price) }} for {{ item.name }}
        </h3>
      </div>
      <div class="modal-body">
        <center>

          <button id="buy-button" type="button" class="btn btn-primary" onclick="createInvoice('', '{{ item.name }}', '{{ item.price }}');">Create Lightning Invoice ⚡</button>

          <div class="qr-content" style="display: none;">
            <p id=invoice_id></p>
            <hr>
            <img width=75% id=ln_invoice_qr src="" /><br><br>
            <p><small><span id=ln_timer>?</span> seconds remaining.</small></p>
            <code class="card" id=ln_invoice style="color: #7B7B7B;"></code>
          </div>

        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="closeModal();">Close</button>
      </div>
    </div>
  </div>
</div>
