{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">


<div class="row">

  <!-- product image-->
  <center>
  <h1>{{ item.name }}</h1>
  {% for tag in item.tags %}
    <span class="badge bg-primary">{{ tag }}</span>
  {% endfor %}

  <hr>

  <div class="clearfix">
    <img class="img-fluid col-md-6 float-md-end mb-3 ms-md-3" src="/static/images/{{ item.image }}" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-target="#staticBackdrop" />
        <p>{{ item.description }}</p>
  </div>

  <hr>
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-target="#staticBackdrop">
    Buy - {{ "$%.2f"|format(item.price) }}
  </button>

  </center>

</div>

  <!-- popup modal for product -->
  {% include 'modal.html' %}


</div>
</div>
</section>
{% endblock %}
