{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">


<div>

  <!-- product image-->
  <center>
  <h1>{{ item.name }}</h1>
  {% for tag in item.tags %}
    <span class="badge bg-primary">{{ tag }}</span>
  {% endfor %}
  <hr>
  <img width=75% src="/static/images/{{ item.image }}" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-target="#staticBackdrop" />

  <!-- product details-->
  <hr>
  <pre>{{ item.description }}</pre>

  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-target="#staticBackdrop">
    Buy - {{ "$%.2f"|format(item.price) }}
  </button>

  </center>

</div>

  <!-- popup modal for product -->
  {% include 'modal.html' %}


</div>
</div>
</section>
{% endblock %}
